<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.0/phpunit.xsd"
        bootstrap="./Granam/Tests/tests_bootstrap.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
        processIsolation="false"
        backupGlobals="false"
        colors="true"
>
    <testsuite name="all">
        <directory>./Granam</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true" addUncoveredFilesFromWhitelist="true">
            <directory>./Granam</directory>
            <exclude>
                <directory>./Granam/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
