<?xml version="1.0"?>
<phpunit
        bootstrap="_tests_bootstrap.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
        processIsolation="false"
        backupGlobals="false"
        syntaxCheck="true"
        colors="true"
        >
    <testsuite name="all">
        <directory>./Tests</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true" addUncoveredFilesFromWhitelist="true">
            <directory>./Granam</directory>
        </whitelist>
    </filter>
</phpunit>
